<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Hoops Comment Archive</title>
  <meta name="description" content="Site to search hoops comments">
  <meta name="author" content="Yaniv knoll">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="js/bundle.js"> </script>


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Hoops Comment Archive</h4>
        <p>Hello! here you can search old hoops comments to prove you are the GOAT.</p>
      </div>
    </div>
    <div id="commentsSearch">
      <form>
        <div class="row">
          <div class="six columns">
            <label for="exampleEmailInput">Commentor name</label>
            <input id="author-input" class="u-full-width" type="text" value="אפלטון" id="exampleEmailInput">
          </div>
          <div class="six columns">
            <label for="exampleRecipientInput">Comment contains: (optinal)</label>
            <input id="comment-input" class="u-full-width" type="text" value="מורי" id="exampleRecipientInput">
          </div>
        </div>
        <input class="button-primary" id="search-btn" type="submit" value="Search">
        <p>Created By: Yaniv Knoll ,
          <small>
            <a href="https://github.com/yanivx4x/HPC">github</a>
          </small>
        </p>
      </form>

      <table class="u-full-width">
        <thead>
          <tr>
            <th>Name</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody id="table-body">

        </tbody>
      </table>
    </div>
    <div id="commentsCounter">
      <form>
        <div class="row">
          <div class="six columns">
            <label for="exampleEmailInput">Commentor name (optional - if empty shows all commenters)</label>
            <input id="author-count-input" class="u-full-width" type="text" value="מנחם לס" id="exampleCountEmailInput">
          </div>
        </div>
        <input class="button-primary" id="search-count-btn" type="submit" value="Count">
        <p>Created By: Yaniv Knoll , extended by p</p>
      </form>
      <p id="u-count-number"></p>
      <table class="u-count-full-width">
        <thead>
          <tr>
            <th>Name</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody id="table-count-body">

        </tbody>
      </table>
    </div>
  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>